.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 30px);
  grid-template-rows: repeat(8, 30px);
}

.Square {
  width: 25px;
  height: 25px;
  background-color: grey;
}
.On {
  background-color: red;
}
